{% extends 'main.html' %}
{% load static %}
{% block contenido %}
{% if user.is_authenticated %}
   <title>Blogsito - Post</title>
        <header class="post">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        {% if user.id == posteo.autor.id %}
            <article class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <h1> Editar el post </h1>
                            <h6><form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form.as_p }}
                            </h6>
                            <button class="btn btn-secondary">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </article>
    
        {% else %}
        {url '404'}
        {% endif %}
{% endif %}
     
{% endblock %}