{%extends 'main.html'%}
{% block title %}{{ posteo.titulo }} {% endblock %}
{%load static%}
{%block contenido%}
<title>Blogsito - Perfil {{ XXX }}</title>
<header class="post">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ posteo.autor.first_name }} {{ posteo.autor.last_name }}</h5>
                        <p class="card-text">{{ posteo.autor.perfil.info }}</p>
                        <a href="{%url 'perfil'%}" class="btn btn-primary">Ver perfil completo</a>                    
                        <p class="card-text"><small class="text-muted">
                            <a href="{{ posteo.autor.perfil.instagram_url }}">Instagram</a> | 
                            <a href=" {{ posteo.autor.perfil.twitter_url }}">Twitter</a> | 
                            <a href="{{ posteo.autor.perfil.facebook_url }}">Facebook</a> | 
                            <a href="{{ posteo.autor.perfil.sitio_web }}">Sitio web</a></small></p>
                    </div>
            </div>
        </div>
    </div>
</header>
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2022</div>
            </div>
        </div>
    </div>
</footer>

{%endblock%}
