{% extends 'main.html' %}
{% load static %}
{% block contenido %}
<title>Blogsito - Mensajes</title>
<header class="post">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
    {% if user.id == from_user.id %}
    {% for message in data %}
        <div class="card">
            <div class="card-header">
                De {{ message.user.first_name }} {{ message.user.last_name }} a:
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ message.recipient.first_name }} {{ message.recipient.last_name }}</h5>
              <div class="card-text" style="background-color:powderblue;"> {{ message.body }} </div>
              <p class="card-text"> {{ message.date|date:'d N G:i'}}</p>
            </div>
          </div>
    {% endfor %}
      </div>
    </div>  
    {% else %}
        <h4 class="post-title"> Usted no tiene mensajes</h4>
    {% endif %}

    <center>
    <form role="form" method="POST" action="{% url 'send_direct' %}">
        {% csrf_token %}
      <article class="media">
        <h4 class="post-title"> Envíe un mensaje</h4>
          </p>
        </figure>
        <div class="media-content">
        
          <input type="select" name="users" value="{{user}}">
        
          <div class="field">
            <p class="control">
              <textarea class="textarea" name="body" placeholder="Add a comment..."></textarea>
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <button type="submit" name="action" class="button is-info">Send</buttom>
              </div>
            </div>
          </nav>
        </div>
      </article>
      </form>
    </center>




<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Blogsito 2022</div>
            </div>
        </div>
    </div>
</footer>
{%endblock%}